name: goreleaser

on:
    push:
        tags:
            - "*"

permissions:
    contents: write

jobs:
    goreleaser:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4
              with:
                  fetch-depth: 0

            - name: Set up Go
              uses: actions/setup-go@v5
              with:
                  go-version: 1.25

            - name: Install dependencies
              run: make go-deps

            - name: Checking code quality (formatting, linting etc.)
              run: make check

            - name: Checking code quality with golangci-lint
              uses: golangci/golangci-lint-action@v8
              with:
                  version: latest

            - name: Checking copyright and license is applied
              run: >-
                  docker run
                  -v $(pwd):/wrk -w /wrk
                  ghcr.io/google/addlicense
                  -check -c "Andre Jacobs" -l mit -ignore '.github/**' -ignore 'build/**' -ignore 'dist/**' -ignore 'vendor/**' ./

            - name: Run unit-tests
              run: make test

            - name: Run GoReleaser
              uses: goreleaser/goreleaser-action@v6
              with:
                  distribution: goreleaser
                  version: latest
                  args: release --clean
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                  GH_PAT_HOMEBREW: ${{ secrets.GH_PAT_HOMEBREW }}
